window-background = rgba(6, 24, 56, 1.0);
primary-border=#99c5f1;
secondary-border=#455B7D;
primary-text = white;
secondary-text = #99c5f1;
small-screen = 600px;
settings-width = 392px;
control-bar-height = 42px;